<div class="m-2 p-2 bg-secondary text-white rounded">
  <h1>Attribute Directive</h1>
</div>

<div class="row pt-3">
  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="div1bgColor">
      <h4>Div-1</h4>
    </div>
  </div>

  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="isbgActive ==true ? 'bg-success' : ''">
      <h4>Div-2</h4>
    </div>
  </div>

  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="inputValue1==inputValue2 ? 'bg-secondary text-white' : ''">
      <h4>Div-3</h4>
    </div>
  </div>

  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="isCheckboxChecked && selectBoxValue == 'Hindi' ? 'bg-success' : 'bg-danger'">
      <h4>Div-4</h4>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="p3 text-center col-3">
    <button class="btn m-2 btn-danger" (click)="changeToDanger()">
      Turn Red
    </button>
    <button class="btn m-2 btn-warning" (click)="changeToYellow()">
      Turn Yellow
    </button>
    <button class="btn m-2 bg-white" (click)="removeYellow()">
      Remove Color
    </button>
  </div>
  <div class="p3 text-center col-3">
    <button class="btn btn-success m-2" (click)="toggleGreen()">Toggle</button>
  </div>
  <div class="p3 text-center col-3">
    <input type="text" name="Number1" id="Number1" [(ngModel)]="inputValue1" placeholder="Number1"/>
    <input type="text" name="Number2" id="Number2" [(ngModel)]="inputValue2" placeholder="Number2" />
  </div>
  <div class="p3 text-center col-3">
    <input type="checkbox" name="" id="" [(ngModel)]="isCheckboxChecked"/>

    <select name="subject" id="subject" [(ngModel)]="selectBoxValue">
      <option value="">Select option</option>
      <option value="Hindi">Hindi</option>
      <option value="English">English</option>
      <option value="Maths">Maths</option>
      <option value="Chemistry">Chemistry</option>
    </select>
  </div>
</div>


<div class="col-6" >

  <table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Gender</th>
        <th>Marks</th>
        <th>City</th>
        <th>Status</th>
      
    </thead>
    <tbody>

      <tr *ngFor="let stud of studentList">
        <td>{{stud.name}}</td>
        <td [ngClass]="stud.marks>50? 'bg-success': 'bg-danger'">{{stud.marks}}</td>
        <td>{{stud.gender}}</td>
        <td>{{stud.city}}</td>
        <td>{{stud.isActive ? 'Active' : "Inactive"}}</td>
      </tr>
    </tbody>
  </table>

</div>