<div class="m-2 p-2 bg-secondary text-white rounded">
  <h1>Structural Directive</h1>
</div>

<div class="row pt-3">
  <div class="col-3">
    <div *ngIf="isDiv1Visible" class="bg-danger p-3 text-center">
      <h4>Div-1</h4>
    </div>
  </div>

  <div class="col-3">
    <div *ngIf="isDiv2Visible" class="bg-success p-3 text-center">
      <h4>Div-2</h4>
    </div>
  </div>

  <div class="col-3">
    <div class="bg-secondary p-3 text-center">
      <h4>Div-3</h4>
    </div>
  </div>

  <div class="col-3">
    <div class="bg-primary p-3 text-center">
      <h4>Div-4</h4>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="p3 text-center col-3">
    <button (click)="hideDiv1()" class="btn m-2 btn-danger">Hide</button>
    <button (click)="showDiv1()" class="btn m-2 btn-primary">Show</button>
  </div>
  <div class="p3 text-center col-3">
    <button (click)="toggleDiv2()" class="btn btn-success m-2">Toggle</button>
  </div>
  <div class="p3 text-center col-3">
    <input type="text" name="Number1" id="Number1" placeholder="Number1" />
    <input type="text" name="Number2" id="Number2" placeholder="Number2" />
  </div>
  <div class="p3 text-center col-3">
    <input type="checkbox" name="" id="" />
    <select name="subject" id="subject">
      <option value="">Select option</option>
      <option value="Hindi">Hindi</option>
      <option value="English">English</option>
      <option value="Maths">Maths</option>
      <option value="Chemistry">Chemistry</option>
    </select>
  </div>
</div>
